{% extends "base.html.jinja" %}
{% block title %}
Ekstrakcja opinii
{% endblock title %}
{% block content %}
<div class="input-group mb-3 w-25 p-3">
  <input type="text" class="form-control" placeholder="ID produktu" aria-label="ID produktu" aria-describedby="button-addon2">
  <a class="btn btn-outline-secondary" type="button" id="button-addon2" href="product">Szukaj</a>
</div>
{% endblock content %}